* {
    margin: 0px;
}

/* header related styles */

.header {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}

.heading {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 20px;

}

.description {
    color: rgba(39, 39, 39, 0.747);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.headerImg {
    width: 420px;
    height: 550px;
    margin-top: 20px;
}

.btn {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    color: white;
    border: none;
    border-radius: 6px;
    background: #E55473;

}

/* featuredFlowers styles */

.secondSectionImg {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}

.featuredSec {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.featuredHead {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featuredDescription {
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;
    line-height: 22px;
    /* 166.667% */
}

.firstfeaturedImg {
    border-radius: 300px 300px 0px 0px;

    background: rgba(167, 33, 98, 0.15);
    width: 250px;
    height: 350px;
}

.imgCaption {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800px;
    text-align: center;
    background-color: white;
    text-decoration: underline;
}



.secondfeaturedImg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 250px;
    height: 350px;

}

.thirdfeaturedImg {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 250px;
    height: 350px;

}

.firstImgSec {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 300px;
    height: 400px;
}

.hotdealLeft {
    text-align: center;
}

.hotdealSec {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hotdealHeading {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.off {
    color: #E55473;

    font-size: 30px;

    font-weight: 800;
}

.pngwing8 {
    margin-top: 30px;
    width: 240px;
    height: 360px;
}